header {
  height: 110px;
  box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
}
.title {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4em;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 5px 20px;
  border-radius: 20px;
  margin: auto;
}
button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
button:hover {
  background-color: var(--primary-color);
  color: white;
}
.email {
  text-decoration: none;
  font-size: 18px;
  color: var(--primary-color);
}
