
<div class="card mt-5 p-3">
  <div class="card-body">
    <h4>Leave a Comment</h4>
    <p>You Can Leave a Comment by Using This Comment Form</p>
    <form>
      <div class="form-group mb-3">
        <label for="">Name</label>
        <input type="text" class="form-control" placeholder="Enter You Name Here">
      </div>
      <div class="form-group mb-3">
        <label for="">Comment</label>
        <textarea class="form-control" rows="10" placeholder="Add Your Comment Here"></textarea>
      </div>
      <button class="btn btn-info btn-sub">Add a Comment</button>
    </form>
  </div>
</div>
