.card-main {
  height: 200px;
  background-color: var(--secondary-color);
  cursor: pointer;
}
h3 {
  color: var(--primary-color);
}
.btn-add {
  background-color: var(--primary-color) !important;
  color: white;
  border: none;
}
.card {
  border: none;
  box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
}
