h3 {
  color: var(--primary-color);
}
.card {
  border: none;
  box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
}
.btn-save {
  background-color: var(--primary-color) !important;
  color: white;
  border: none;
}
.img-preview {
  max-height: 250px;
}
