<div class="card m-auto" *ngIf="post" [routerLink]="['/post', post.id]">
  <img
    class="card-img-top"
    [src]="post?.data.postImgPath"
    alt="post-image"
  />
  <div class="card-body">
    <small class="bg-light text-center text-danger">{{ post?.data.category.categoryName }}</small>
    <small class="bg-light text-center text-success ms-3" *ngIf="post?.data.isFeatured">Featured</small>
    <small class="bg-light text-center text-info ms-3">views - {{ post?.data.views }}</small>
    <h5 class="mt-1">
      {{ post?.data.title }}
    </h5>
    <p>
      {{ post?.data.excerpt }}
    </p>
    <small class="bg-light text-center text-warning mt-2"
      >Last Updated - {{ post?.data.createdAt.toMillis() | date}}</small
    >
  </div>
</div>
