.card {
  border: none;
  background-color: var(--secondary-color);
  box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
  width: 1200px;
  margin: auto;
}
input {
  height: 50px;
  padding-left: 20px;
  box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
  /* border: none; */
}
.btn-sub {
  background-color: var(--primary-color)!important;
  color: white;
  height: 48px;
  border: none;
}
.sub-text {
  width: 500px;
}
